	*{
		box-sizing: border-box;
		border-color: black;
	}
	body{
		background-position: center;
		background-size:auto;
	}
	.header{ 
		margin-top: auto;
	}
	.content{
		margin-top: 10%;
	}
	.content div{
		border: 2px solid black;
	}
	.footer{
		padding-bottom: 30px;
		font-size: 35px;
		text-align: center;
		border: 2px solid black;
	}
	.logo{
		width: 15%;
		height: 15%;
		float: left;
		font-size: 25px;
		border: 1px solid green;		
	}
	
	.menu{
		width: 85%;
		height: 15%;
		float: left;
		font-size: 25px;
		padding-top: 30px;
		padding-right: 50px;
		font-size: 30px;
		border: 1px solid black;
	}
	.menu a{
		
		padding: 15px;
		text-decoration: none;
		color: black; 
	}
	.sidebar{
		width: 25%;
		float: left;
		font-size: 30px;
		text-align: center;
		padding: 10px 10px 0px 15px;
		text-decoration: none;
	}
	.row{
		width: 75%;
		float: left;
		padding: 20px;
		border: 2px solid red;	
		padding: auto;
		height: 54.2%;
	}
	.r div{
		height: 40%;
		padding: 20px;
		width: 100%;
		border:1px solid darkgoldenrod;
		margin: 10px 20px 1px 1px;
	}
	.columnmiddle1 div{
		width: 320px;
		float: right;
		border: 2px dotted darkblue;
	}
	.columnmiddle div{
		width: 205px;
		float: right;
		height: 40%;
		border: 2px dotted darkblue;
	}
	
	.sidebar div{

		text-align: center;
		width: 90%;
		font-size: 20px;
		padding: 10px;
		margin-bottom: 20px;
	}
 	.sidebar{
 		align-items: center;
 	}
 	.table div{
 		height: 75px;

 	}
 	 .r .columnmiddle1{
 	 	height: 45%;
 	 	margin-bottom: 2%;

 	 }
 	 .r .columnmiddle{
 	 	height: 45%;	
 	 }
	#logo{
		width: 100px;
 		height: 100px;
	  	background-image: url(du.png);
		background-repeat: no-repeat;
 		transition: width 2s, height 4s;
	 }
	 #logo:hover {
		width: 50%;
		height: 20%;
	  } 
